@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans');
body {
  font-family: 'Lora', serif;
}
ol {
  font-family: 'Open Sans', sans-serif;
  padding-left: 1rem;
  padding-bottom: .4rem;
}
header {
  text-align: center;
}
main {
  max-width: 820px;
  margin: 0 auto;
}
